.resume-section-title {
	border-bottom: 3px dotted rgb(187, 152, 14);
	text-align: center;
	display: inline;
	font-size: 150%;
}

.resume-subject-title {
	font-size: 110%;
	font-weight: bold;
}

.resume-time-working {
	margin-top: 1.5%;
	margin-left: 1.5%;
}

.resume-sidenav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  margin: 30px 0 0;
  padding: 0;
  width: 228px;
}

.resume-sidenav.affix {
  top: 248px;
}

.resume-sidenav {
  width: 258px;
}