
.resume-content-box {
	padding: 3.5%;
	margin-top: 5%;
	font-size: 140%;
	line-height: 150%;
	border: 1px solid rgb(187, 187, 187);
	border-radius: 25px;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow:    inset 0 0 2px #000000;
   	-webkit-box-shadow: inset 0 0 2px #000000;
   	box-shadow:         inset 0 0 2px #000000;

}

/* Container and text are seperated 
so that the underline doesn't apply to 
the div, but to to the text */

.resume-item {
	padding-top: 3%;
}

.resume-title-container {
	text-align: center;
	padding-bottom: 4%;
}

.resume-section-title {
	border-bottom: 3px dotted rgb(187, 152, 14);
	text-align: center;
	display: inline;
	font-size: 275%;
}

.resume-subject-title {
	font-size: 140%;
}

.resume-subtitle {
	font-size: 115%;
	padding-left: 1.5%
}

.description {
	font-size: 105%;
	line-height: 100%;
	padding-top: 0%;
	padding-bottom: 0%;
}


/* Accordion */

.accordion {
	margin-bottom: 0px;
}

.accordion-group {
	border: none;
}

.accordion-inner {
	padding-left: 5%;
	padding-right: 5%;
	font-size: 95%;
}

.see-more {
	margin-left: 3%;
	padding-top: 0.5%;
	padding-bottom: 0%;
	padding-left: 0%;
	padding-right: 0%;
}

/* Sections */

#education {
	padding-bottom: 4%;
	padding-top: 4%;
}

.underline {
	border-bottom: 2px dotted rgb(221, 182, 28);
}

#research {
	padding-bottom: 4%;
	padding-top: 4%;
}

#develop {
	padding-bottom: 4%;
	padding-top: 4%;
}

#teach {
	padding-bottom: 4%;
	padding-top: 4%;
}

#skills {
	padding-bottom: 4%;
	padding-top: 4%;
}

#skills-and-downloads-content {
	padding-left: 7%;
	padding-right: 7%;
	font-size: 125%;
}

#downloads {
	padding-bottom: 4%;
	padding-top: 4%;
}


/* Nav Bar 9*/

.resume-sidenav {
  background-color: #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  margin: 30px 0 0;
/*  padding: 0;*/
  width: 228px;
}

.resume-sidenav.affix {
  top: 248px;
}

.resume-sidenav {
  width: 258px;
}